.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.top{
    margin-top: 50px;
}

.top2{
    margin-top: 30px;
}

.custom{
    margin-left: 10%; 
    margin-right: 20%; 
    margin-top: 55px;
}

@media (max-width: 732px) {
    .frame {
        flex-direction: column;
        align-items: center;          
        justify-content: center;
    }

    .top{
        margin-top: 50px;
        margin-bottom: 28px;
    }

    .top2{
        margin-top: 28px;
        margin-bottom: 6px;
    }

    .custom{
        margin-left: 10%; 
        margin-right: 20%;
        margin-top: 0px;
    }
}

#frameBox {
    width: 70%;
    height: 451px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed silver;
    transform-origin: center center;
}


.frame-close {
    animation: 0.6s ease forwards CloseFrame;
}

.frame-open {
    animation: 0.6s ease forwards OpenFrame;
}

@keyframes CloseFrame{
    from{transform: scaleX(1);}
    to{transform: scaleX(0);}
}

@keyframes OpenFrame{
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}

body{
    background-color: black;
    font-family: consolas, arial, sans-serif;
}

h1{
    text-align: center;
    color: white;
}

h2{
    color: white;
}

h3{
    color: silver;
    size: 24px;
}

h4{
    color: silver;
    size: 18px;
}

p{
    color: white;
    width: 60%;
}

hr{
    color: silver;
    border-width: 1px;
    border-style: dashed;
}

ul{
    color: white;
    width: 80%;
}

li{
    margin: 16px;
    font-size: 18px;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

button{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: black;
    border-style: none;
}